body, html {
  height: : 100%;
}

.parrallax {
  background-image: url('../img/sky.jpg');
  /* Full Height */
  height: 100%;
  /*Create the scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off paralax for mobile*/
@media only screen and (max-device-width: 1024px) {
  .parrallax {
    background-attachment: scroll;
  }
}

h1 {
  color: whitesmoke;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-family: helvetica;
}

.nav li {
display: inline-block;
width: 200px;
border-right: 1px solid


}
h2 {
    color: whitesmoke;
}

#Languages [javascript]{
    color: red:
    }

.work-ethics h3 {
font-family: fantasy;

}

.box{
background-color: whitesmoke;
padding: 20px 5px 10px 5px;
border: 20px; solid blue;
margin: 40px;

height: 70px;
overflow: auto;

}
