<!DOCTYPE html>{% load static %}

<html>

<head>

  <meta charset="utf-8" />
  <meta name="keywords" content="Porfolio ">
  <meta name="desciption" content="Everything About Jordan Benner">
  <meta name="google-site-verification" content="Wxe45pJyhJeLlbSIKNWv2O_sToGMJSr28u4o02HQWoQ" />
  <title>{% block title %}Jordan Benner{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body class="parrallax">
  {% block content %}

  <div id="top"></div>
  <header>
    <img src="img/f22.jpeg" alt="Jordan Benners Portfolio">
    <h1>Jordan Benner</h1>
    <p>Everything you need to know about Jordan Benner</p>
  </header>

  <hr>

  <header>
    <ul>
      <li><a href="contacts/contacts.html">Contact Me</a></li>
      <li><a href="https://www.linkedin.com/in/jordan-benner">Linked In</a></li>
      <li><a href="https://github.com/JordanBenner" target="blank">github</a></li>
      <li><a href="Resume.docx">Download Resume</a></li>

    </ul>
  </header>

  <hr>

  <div id="Languages">
    <h2>Full Stack Languages.</h2>
    <h3> HTML5</h3>
    <h3>CSS3</h3>
    <h3>Javascript</h3>
    <h3>Python</h3>
    <h3>React.js</h3>
    <h3>Django</h3>
  </div>

  <div id="About-me">
    <h2>About Me</h2>
    <p>In my life and backround I am dynamic and able to wear many hats. I love to dabble in new things and I have been an entrepreneur from a young age.
      <br> I started working full time when I was 16 and Homeschooled myself throughout High School to do so. From then on I have had a pretty different work ethic than anyone else
      <br> I have come to know. I come from a big family where working hard is just a part of life and sacrifice is the bread and butter.
      <br>The biggest issue I have with most jobs and including some of the ones I have had is that they cannot capacitate someone like me for more than two years because either
      <br> I outgrow them or I get their business to a place where it runs smoothly and is perfectly managed and it's time for me to move on to my next opportunity.
      <br>In my current job I have found the freedom and independance to further myself farther thatn I ever would have dreamed and in the coming months I plan on extending my network
      <br> and hopefully meeting you in person as well as developing a business relationship through LinkedIn. Feel free to write me with any questions regarding any kind of home
      <br>building, renovations, additions, remodels and I will be happy assist.

    </p>
  </div>

  <div class="education">
    <h2>Education</h2>
    <h3>Digital Crafts</h3>
    <h4>Full Stack Developer Student</h4>
    <p>DigitalCrafts, a 16 week immersive bootcamp, which covers front and back end web development.  Topics covered include HTML5, CSS3, Javascript, jQuery, ReactJS, JSON, the MEAN stack,
      <br> Python and the LAMP stack. Additional evening elective includes Computer Science Fundamentals.</p>
  </div>

  <div class= "work ethics">
    <h2>Work History</h2>
    <h3>Growth Property Investors</h3>
    <h4>Co-Founder\Project manager</h4>
    <ul>
      <li>Allocated resources and personnel, to determine and produce solutions for system development.</li>
      <li>Manage the budgeted cost, profitability in performance, and cost control.</li>
      <li>Maintain communications log in business operations: Construction, Duration of specific projects</li>
    </ul>
      <h3>TMC Transportation</h2>
      <h4>Driver and Safety Support Team Member</h4>
    <ul>
      <li>Maintain proper federal department of transportation pre-trip inspections and maintenance.</li>
      <li>Communicating load planning with dispatch and operations.</li>
      <li>Advising safety support when presented with potential problems among fellow drivers.</li>
    </ul>
      <h3>Global Drilling Support</h3>
      <h4>Testing</h4>
      <ul>
        <li>Follow established process in testing all top drive functions, variants of top drives being ac or dc based power.</li>
        <li>Running checks and balances for all hydraulic systems, to include unwanted leaking, overheating of hydraulic pumps, hydraulic reservoir, hydraulic motors and manifold specified locations.</li>
        <li>Run 12 hour drilling simulation with a series of tests recorded within fifteen minute intervals movement on rig.</li>
      </ul>

  </div>

  <div class="charity work">
    <h2>Charity Work</h2>
    <ul>
      <li>Childrens Miracle Network</li>
      <li>Cystic Fibrosis Foundation</li>
    </ul>

  </div>

  <div class="contact-me">
    <h2>Contact Me</h2>
    <p>You can contact Jordan Benner in ways provided..</p>
  </div>

  <div class="contact-method">
    <h3>By phone</h3>
    <p>832-797-9941</p>
  </div>
  <div class="contact-method">
    <h3>By Email</h3>
    <p>jordanbenner@outlook.com</p>
  </div>

  <a href="#top"> to top</a>

  <script src="scripts/main.js"></script>
  {% end block %}

</body>






</html>
