.masthead {
  z-index: 10;
}

.intro-title {
  margin-top: 113px;
  margin-left: 150px;
  letter-spacing: 0;
  padding-bottom: 36px;
}

.intro-title strong {
    display: block;
}
@media (max-width: 1540px){
h1 {
    font-size: 55px;
}
}
h1 {
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 0;
  padding-bottom: 36px;
  max-width: 1060px;
}

.intro-content .title {
  color: #b3a06c;
}
.intro-entry {
  color: #d6d1d1;
    font-size: 20px;
    line-height: 2.14;
    letter-spacing: .02em;
    margin-left: 150px;
    margin-top: 65px;

}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.shell {
  max-width: 1480px;
  margin: auto;
}


}
h1, .cover-heading {
  position: absolute;
  justify-content: flex-start;
  align-items: baseline;
}
h5, .cover-heading {
  margin-top: 100px;
  position: absolute;
  text-align: center;
  font-size: 25px;
  left: 200px;
  top: 70px;
}
.row1 .col-lg-12 {
  display: flex;
  max-width: 100%;
  margin: auto;
  flex-direction: column;
  padding: 0;
}
.intro-image {
  width: 100%;
  min-height: 760px;
  height: calc(100vh + 100px);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/intro2.jpg);
  transition: height .01s linear, opacity .3s;
  opacity: 1;
}

/*
@media (max-width: 900px) {
  .intro-image {
    background-position: -550px, center;
  }
}

@media (max-width:  600px) {
  .intro-image {
    background-position: -750px, center;
  }
}
*/
.intro-content {
  position: relative;
  color: #fff;
font-size: 14px;
line-height: 2.14;
letter-spacing: .02em;
}
.intro-content .shell {
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
  left: -220px;
}
.floaty {
  height: 59px;
  background-color: #ece9e1;
  position: absolute;
  margin: -59px 0 0 50px;
  width: calc(100% - 50px);
}
.row2 .col-lg-12, .row5 .col-lg-12 {
  display: flex;
  max-width: 100%;
  margin: auto;
  flex-direction: column;
  padding: 0;
  background-color: white;
}
.row2 .col-lg-12>div, .row4>div {
  background-color: #ece9e1;
  margin: 0 0 0 50px;
  z-index: 10;
}
.row5 .col-lg-12>div {
  background-color: #ece9e1;
  margin: 0 50px 0 0;
  z-index: 10;
}
.row5 h2 {
  margin: 0;
}
h2, .mission {
  position: relative;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: black;
  padding: 0 50px;
  margin: 90px auto 80px auto;
}
p, .mission {
  font-family: 'Roboto Mono', sans-serif;
  color: black;
}
.row3 {
  margin: 0 50px 0 0;
  background-color: #a4977d;
}
.row4 .col-lg-6>div {
  background-color: #ece9e1;
  margin: 0 0 0 50px;
}
.row4 .col-lg-6 {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 0;
}
/*the back ground color on header when scrolling*/
.header .logo {
    float: left;
}
.header-compact .logo {
    width: 76px;
    height: 47px;
  }

  .header-compact.transparent .logo {
      width: 152px;
      height: 94px;
    }

.logo{
display: inline-block;
vertical-align: middle;
width: 105px;
height: 65px;
font-size: 0;
line-height: 0;
background-size: 100% auto;
transition: width .3s,height .3s,margin .3s;
background: url(../images/logo.svg) no-repeat 0 0;
background-size: contain;
}


.header-compact {
  top: 0;
  padding: 9px 0 12px;
  background: rgba(0, 0, 0, .8);
}

.header-compact.transparent {
  background: transparent;
}

.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: top .3s, margin .3s, padding .3s, background .3s;
}
/* nav bar*/
.header-actions {
  float: right;
}
@media (max-width: 1540px) {
  .header-actions {
    padding-top: 2px;
  }
}
@media (max-width: 1540px) {
  .header-compact {
    padding: 10px 0;
  }
}

.nav-trigger span:nth-child(2) {
  top: 22px;
}

.nav-trigger span:nth-child(3) {
  top: 29px;
}

.nav-trigger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 46px;
  padding: 15px 15px 0;
  background: #b3a06c;
}
.nav-trigger span {
  position: absolute;
  display: block;
  height: 2px;
  width: 20px;
  background: #303030;
  transition: top .2s .25s, transform .2s 0s, width .2s 0s;
}

.btn-default-lg {
    font-weight: 700;
    height: 46px;
    padding: 0 25px;
    line-height: 40px;
  }

  .btn-default-alt {
    color: #fff;
  }

  .btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    padding: 0 20px;
    white-space: nowrap;
    border: 3px solid #b3a06c;
    line-height: 39px;
    font-family: 'Roboto Mono',sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background 1s,color 1s,border-color 1s;
}
